@import "tailwindcss/base";

body {
  overflow-y: scroll;
}

a {
  @apply transition-all;
}

h1 {
  @apply text-4xl;
  @apply mb-4;
  @apply font-bold;
}

h2 {
  @apply text-2xl;
  @apply mb-4;
  @apply mt-6;
  @apply font-semibold;
}

p {
  @apply mb-2;
}

p {
  a {
    @apply text-green;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.columns-1 {
  columns: 1;
}

.columns-2 {
  columns: 2;
}

.columns-3 {
  columns: 3;
}

.columns-4 {
  columns: 4;
}

.columns-5 {
  columns: 5;
}

.columns-6 {
  columns: 6;
}

.columns-7 {
  columns: 7;
}

.columns-8 {
  columns: 8;
}
